
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h4 class="modal-title" id="myModalLabel">Edit user</h4>
		</div>
		<%= form_for @user, :url => {:action => "update", :controller => "employee" } do |f| %>
		<div class="modal-body">

			<div class="field">
				<%= f.label :full_name %>
				<br>
				<%= f.text_field :full_name, class: "form-control input-width", :placeholder => "Full name" %>
			</div>
			<div class="field">
				<%= f.label :email %>
				<br>
				<%= f.email_field :email, class: "form-control input-width", :placeholder => "Email" %>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				Close
			</button>
			<%= f.submit class:"btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>

