
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h4 class="modal-title" id="myModalLabel">Add new user</h4>
		</div>
		<%= form_for @user, :url => {:action => "create", :controller => "employee" } do |f| %>
		<div class="modal-body">

			<div class="field">
				<%= f.label :full_name %>
				<br>
				<%= f.text_field :full_name, class: "form-control input-width", :placeholder => "Full name" %>
			</div>
			<div class="field">
				<%= f.label :email %>
				<br>
				<%= f.email_field :email, class: "form-control input-width", :placeholder => "Email" %>
			</div>
			<div class="field">
				<%= f.label :password %>
				<br>
				<%= f.password_field :password, autocomplete: "off",  class: "form-control input-width", :placeholder => "Password" %>
			</div>
			<div class="field">
				<%= f.label :password %>
				<br>
				<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-width", :placeholder => "Confirm password" %>
			</div>
			<div class="field">
				<%= f.label "Role" %>
				<br>
				<%= f.select :role, options_for_select([ ["User","user"],["Moderator","moderator"] ]),{}, {:class => "form-control combo-width"} %>
			</div>
			
			 

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				Close
			</button>
			<%= f.submit class:"btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>

