<h2>All users:</h2>
<%= link_to 'New user', new_employee_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-primary"} %>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th></th>
			</tr>
		</thead>

		<tbody>

			<% @user.each do |user| %>
			<tr>
				<td><%= user.full_name %></td>
				<td><%= user.email %></td>
				<td> <% if user.role == "admin" %> <span style="color:red;"> Admin </span> <% elsif user.role == "moderator"%> <span style="color:red;"> Moderator </span> <% else %>
				User
				<% end %>
				<br />
				</td>
				<td class="last"> 
					<% if user.role != "admin" %>
					<%= link_to 'Delete', employee_path(user), method: :delete, data: { confirm: "Are you sure you want to delete #{user.full_name}?"  },  class: "btn btn-danger"  %>
					<%= link_to 'Edit', edit_employee_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-info"} %> 
					<% end %>
					<%= link_to 'Show projects', employee_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-success"} %> 
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

