<h2>All active users:</h2>
<%= link_to 'New user', new_employee_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-primary"} %>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th></th>
			</tr>
		</thead>

		<tbody>

			<% @active_users.each do |user| %>
			<tr>
				<td><%= user.full_name %></td>
				<td><%= user.email %></td>
				<td> <% if user.role == "admin" %> <span style="color:red;"> Admin </span> <% elsif user.role == "moderator"%> <span style="color:red;"> Moderator </span> <% else %>
				User
				<% end %>
				<br />
				</td>
				<td class="last"> 
					<% if user.role == "admin" %>
					<%= link_to 'Make inactive', '', class: "btn btn-danger", :disabled => "disabled"  %>
					<%= link_to 'Edit', '', {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-info", :disabled => "disabled"} %>
					<%= link_to 'Show projects', employee_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-success"} %>  
					<% else %>
					<%= link_to 'Make inactive', employee_makeUserInactive_path(user), method: :post, data: { confirm: "Are you sure you want to make #{user.full_name} inactive?"  },  class: "btn btn-danger"  %>
					<%= link_to 'Edit', edit_employee_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-info"} %>
					<%= link_to 'Show projects', employee_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-success"} %>  
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<button class="btn btn-primary show-inactive-users">Show inactive projects</button>
<div class="table-responsive inactive-users">
	<h2>Inactive users</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th></th>
			</tr>
		</thead>

		<tbody>

			<% @inactive_users.each do |user| %>
			<tr>
				<td><%= user.full_name %></td>
				<td><%= user.email %></td>
				<td> <% if user.role == "admin" %> <span style="color:red;"> Admin </span> <% elsif user.role == "moderator"%> <span style="color:red;"> Moderator </span> <% else %>
				User
				<% end %>
				<br />
				</td>
				<td class="last"> 
					<% if user.role != "admin" %>
					<%= link_to 'Make active', employee_makeUserActive_path(user), method: :post, data: { confirm: "Are you sure you want to make #{user.full_name} active?"  },  class: "btn btn-danger"  %>
					<%= link_to 'Show projects', employee_path(user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-success"} %>  
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

