<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="loginfields">
	  <div class="input-group loginstyle">
	  	<span class="input-group-addon">Full name</span>
	  	<%= f.text_field :full_name, class: "form-control", placeholder: "Full name" %>
	  </div>
	
	  <div class="input-group loginstyle">
	  	<span class="input-group-addon">Email</span>
	  	<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
	  </div>
	
	  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	  <% end %>
	
	  <div class="btn btn-info btn-sm newpasswordopen">
	  	Click here if you want to change your password.
	  </div>
	  <div class="newpassword">
		  <i class="imessage">(leave empty if you don't want to change it)</i>
		  <div class="input-group loginstyle">
		  	<span class="input-group-addon">New password</span>
		    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password" %>
		  </div>
	
		  <div class="input-group loginstyle">
		  	<span class="input-group-addon">New password</span>
		    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "New password again" %>
		  </div>
	  </div>
	  
	  <div style="height:50px;"></div>
	
	  <i class="imessage">(we need your current password to confirm your changes)</i>
	  <div class="input-group loginstyle">
	  	<span class="input-group-addon">Password</span>
	    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password" %>
	  </div>
	
	  <div><%= f.submit "Update", class: "btn btn-primary" %></div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
