<div class="modal-dialog">
	<div class="modal-content workhours-new">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">Add new workhour</h4>
		</div>
		<%= simple_form_for(@workhour) do |f| %>
		<div class="modal-body">
			<%= f.error_notification %>

			<b>Date:</b>
			<div class="field input-group date">
				<span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i> </span>
				<%= f.text_field :date_of_workhour, :value => Date.today.strftime('%d-%m-%Y') , class: "form-control" %>
				<!-- EDIT MOET VERANDEREN, HIJ PAKT ALTIJD DATUM VAN VANDAAG, OOK VOOR EDIT VAN ANDERE DAG -->
			</div>

			<div class="field" style="width:20%;float:left;margin-right:1%;">
				<%= f.input :hours, :input_html => { class: "form-control" } %>
			</div>
			<div class="field" style="width:79%; float:left;">
				<%= f.association :project, :input_html => { class: "form-control"} %>
			</div>
			<div class="field">
				<%= f.input :note ,as: :text, :input_html => { class: "form-control",  :placeholder => "Notes", :style => "width:100%;" }%>
			</div>
			

		</div>
		<div class="modal-footer">
			<%= f.submit class:"btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.input-group.date').datepicker({
			"format" : "dd-mm-yyyy",
			"autoclose" : true,
			"todayBtn" : "linked",
			"calendarWeeks" : true,
			"todayHighlight" : true,
			"endDate" : "0d",
		});
	}); 
</script>

