<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h4 class="modal-title" id="myModalLabel">Add new workhour</h4>
		</div>
		<%= simple_form_for(@workhour) do |f| %>
		<div class="modal-body">
			<%= f.error_notification %>

			<b>Date:</b>
			<div class="field input-group date">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
				<%= f.text_field :date_of_workhour, :value => Date.today.strftime('%d-%m-%Y') , class: "form-control" %>		
			</div>

			<div class="field">
				<%= f.input :hours, :input_html => { class: "form-control" } %>
			</div>
			<div class="field">
				<%= f.input :note , :input_html => { class: "form-control",  :placeholder => "Notes" }%>
			</div>
			<div class="field">
				<%= f.association :project, :input_html => { class: "form-control"} %>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				Close
			</button>
			<%= f.submit class:"btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.input-group.date').datepicker({
			"format" : "dd-mm-yyyy",
			"autoclose" : true,
			"todayBtn" : "linked",
			"calendarWeeks" : true,
			"todayHighlight" : true,
			"endDate": "0d",
		});
	}); 
</script>

