<div class="modal-dialog">
	<div class="modal-content workhours-new">
		<div class="modal-header">
			
			<h4>View day:</h4>
			<form action='<%= url_for(:action=>"index", :controller=>"workhours") %>' method ="get" class="view-day-form">
				<div class="field input-group date">
					<span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i> </span>
					<%= text_field_tag :workhour_day, @dateparam, :class=>"form-control view-day" %>
				</div>
				<a href="/workhours">Back to today</a>
			</form>
			
		</div>
		<%= simple_form_for(@workhour) do |f| %>
		<div class="modal-body">
			<%= f.error_notification %>

			<div class="field input-group date"  style="display:none;">
				<span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i> </span>
				<%= f.text_field :date_of_workhour, :value => @dateparam , class: "form-control" %>
			</div>

			<div class="field" style="width:20%;float:left;margin-right:1%;">
				<%= f.input :hours, :input_html => { class: "form-control" } %>
			</div>
			<div class="field" style="width:79%; float:left;">
				<%= f.association :project, :input_html => { class: "form-control"} %>
			</div>
			<div class="field">
				<%= f.input :note ,as: :text, :input_html => { class: "form-control",  :placeholder => "Notes", :style => "width:100%;" }%>
			</div>

		</div>
		<div class="modal-footer">
			<%= f.submit class:"btn btn-primary", :id => "new-workhour-submit" %>
		</div>
		<% end %>
	</div>
</div>

