<div style="width:600px;margin:0px;">
<%= render 'workhours/new' %>
</div>

<h4>Time entered for today: <%= @workhours.map(&:hours).sum  %> hours</h4>


<div class="time-entries-today">
<% @workhours.reverse_each do |workhour| %>
<% project = workhour.project %>

	<div class="workhour-listing">
		<div class="time">
			<div>
				Hours: <br />
				<b><%= workhour.hours %></b>
			</div>
		</div>
		<div class="title">
			Project: <b><%= workhour.project.try(:name) %> </b><br />
			<% if (workhour.note.present?) %>
				<br>Note:
				<i><%= workhour.note %></i>
			<% end %>
		</div>
		<div class="edit">
			<%= link_to 'Edit', edit_workhour_path(workhour), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-info"} %>
			<%= link_to '', workhour, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash btn btn-danger", :style => "top:0px; line-height:20px;" %>
		</div>

	</div>
	<div style="clear:both;"></div>
<% end %>
</div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
