<h1>Projects</h1>

<%= link_to 'New Project', new_project_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-primary", :style => "float:left; margin-right:5px;"}  %>
<select class="form-control" style="width:initial; font-weight: bold;">
	<option>Participated Projects</option>
	<option>All projects</option>
</select>


<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Description</th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @projects.each do |project| %>
	      <tr>
	        <td><%= project.name %></td>
	        <td><%= project.description %></td>
	        <td class="last">
	        	<%= link_to 'Show', project, { class:"btn btn-default" } %>
	        	<%= link_to 'Edit', edit_project_path(project), { class:"btn btn-info" } %>
	        	<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger"  %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>



<h2>All users: (Moet naar /Manage-users verhuizen!)</h2>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Role</th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	  	<% @user = User.all %>
	    <% @user.each do |user| %>
	      <tr>
	        <td><%= user.full_name %></td>
	        <td><%= user.email %></td>
	        <td>
	        	<% if user.admin? %>
					<span style="color:red;">
						ADMIN 
					</span>
				<% else %>
					User
				<% end %><br />
				
			</td>
	        <td class="last">
	        	<btn type="button" class="btn btn-default">Show</btn>
	        	<btn type="button" class="btn btn-info">Edit</btn>
	        	<btn type="button" class="btn btn-danger">Delete</btn>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>