<h1>Projects</h1>

<%= link_to 'New Project', new_project_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-primary", :style => "float:left; margin-right:5px;"}  %>
<select class="form-control" style="width:initial; font-weight: bold;">
	<option>Participated Projects</option>
	<option>All projects</option>
</select>


<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Description</th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @projects.each do |project| %>
	      <tr>
	        <td><%= project.name %></td>
	        <td><%= project.description %></td>
	        <td class="last">
	        	<%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger"  %>
	        	<%= link_to 'Edit', edit_project_path(project), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',:class => "btn btn-info"}  %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>



