<h2>Sign in</h2>

<% if User.count == 1 %>
	<% if User.first.full_name == "admin" || User.first.email == "admin@first.com" %>
	<div class="first-login-notice" style="width:100%;padding:10px;">
	Welcome, You are the first user! <br>
	You can log in with: <br>
	<b>- Email:</b> admin@first.com <br>
	<b>- Pass:</b> admin <br />
	After you log in for the first time, immediately change your full name, email and password! <br>
	If this isn't your first time logging in, please change your full name, email and password!
	</div>
	<% end %>
<% end %>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<br>
  <div class="loginfields">
	  <div class="input-group loginstyle">
	  	<span class="input-group-addon">Email</span>
	  	<%= f.input :email, :label => false, autofocus: true, placeholder: "Email",:input_html => { class: "form-control" } %>
	  </div> 
	
	  <div class="input-group loginstyle">
	  	<span class="input-group-addon">Password</span>
	  	<%= f.input :password, :label => false, autocomplete: "off", placeholder: "Password", :input_html => { class: "form-control" } %>
	  </div>
	
	  <% if devise_mapping.rememberable? -%>
	    <div>
	    	<%= f.check_box :remember_me %> <%= f.label :remember_me %>
	    </div>
	  <% end -%>
	
	  <div><%= f.submit "Sign in", class: "btn btn-primary" %></div><br>
  </div>
<% end %>

<%= render "devise/shared/links" %>
